<!doctype html>
<html>
<head>
</head>

<body>

<h1>Link invalid</h1>

<br>
<div>
    Your password link has either expired, or you have used it to change your password already.
    <br>
    If you still need to change your password, please request for a new email.
    <br>
    Remember that the link that we will sent you will only be only valid for 15 minutes!
</div>

<br><br><br>

<input type="button" class="btn" value="Request new password" type="submit" ng-click="goToRequestNewPasswordView()">

</body>
</html>