<!doctype html>
<html>
<head>
</head>

<body>

<div class="row">

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h1> Please insert your new password</h1>
        <br><br>
        <form name="form" class="form-group" novalidate>

            <label class="login-label" for="password">New password</label>
            <input type="password" name="password" id="password" class="form-control input-sm" ng-model="newPassword" required/>
            <span class="error-feedback">{{feedback}}</span>

            <br><br>

            <label class="login-label" for="password">Confirm new Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-sm" ng-model="confirmPassword" required compare-to="newPassword"/>
            <span class="error-feedback" ng-show="form.confirmPassword.$error.compareTo">Passwords do not match</span>

            <br><br><br>
            <input type="button" class="btn" value="Change my password" type="submit" ng-click="requestNewPassword()" ng-disabled="form.$invalid">


        </form>
    </div>
    <div class="col-md-4">
    </div>

</div>


<!--<form role="form">-->

    <!--Please insert your new password-->
    <!--<div class="row">-->
        <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
            <!--<input type="text" name="password" id="password" class="form-control input-sm" placeholder="New password" ng-model="newPassword">-->
        <!--</div>-->
    <!--</div>-->

    <!--<button type="button" class="btn btn-primary" ng-click="requestNewPassword()">Submit</button>-->

</form>

</body>
</html>