<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<body style="margin-top:0;" link="#21381E" vlink="#21381E" alink="#21381E" bgcolor="#FFFFFF">
<table style="BORDER-COLLAPSE: collapse;background:url(http://bbstatic4.demandmedia.dk/Images/DK/bb1_11.gif);background-repeat: repeat-y;width:950px;"
       cellspacing="0" cellpadding="0" class="centertbl">
    <tr>
        <td valign="top"><img alt="logo" src="/images/topleft-logo 15-16.gif" border="0" usemap="#cancer"
                              style="height:174px;width:179px;">
            <map name="cancer">
                <area href="http://www.cancer.dk/stoet+os/for+virksomheder/"
                      alt="Vi støtter kr&aelig;ftens bek&aelig;mpelse" coords="50,5,125,79" target="_blank">
                <area href="http://www.bornsvilkar.dk/" alt="Vi støtter Børns Vilkår" coords="57,90,118,166"
                      target="_blank">
            </map>
        </td>
        <td valign=top colspan="2" style="height:83px"><a href="/"><img alt="logo"
                                                                        src="http://bbstatic4.demandmedia.dk/Images/DK/topright.gif"
                                                                        border="0"
                                                                        style="margin:0;padding:0;width:771px;height:83px;"></a><br>
            <table border="0" cellspacing="0" cellpadding="0"
                   style="margin:0;padding:0;border:0;height:91px;background:url(http://bbstatic5.demandmedia.dk/Images/DK/bgtop.jpg)">
                <tr>
                    <td style="height:91px" valign="bottom">
                        <map name="menumap">
                            <area href="/lejeboliger/omraade/Alle.-1/min-rum/-1/max-leje/-1/postnr-min/0/postnr-max/9999"
                                  alt="lejeboliger" coords="0,0,125,21" id="lejeboliglink">
                            <area href="/andelsboliger/omraade/Alle.-1/min-rum/-1/max-pris/-1/postnr-min/0/postnr-max/9999"
                                  alt="andelsboliger" coords="125,0,240,21" id="andelsboliglink">
                            <area href="/ejerboliger/omraade/Alle.-1/min-rum/-1/max-pris/-1/postnr-min/0/postnr-max/9999"
                                  alt="ejerboliger" coords="240,0,360,21" id="ejerboliglink">
                            <area href="/bytteboliger/omraade/Alle.-1/min-rum/-1/max-ydelse/-1/postnr-min/0/postnr-max/9999/page/0"
                                  alt="bytteboliger" coords="360,0,475,21" id="bytteboliglink">
                            <area href="/boligsoegere/omraade/Alle.-1/min-rum/-1/max-ydelse/-1/page/0"
                                  alt="boligsøgende" coords="475,0,595,21" id="boligsogerlink">
                        </map>
                        <img width="770" height="21"
                             src="http://bbstatic4.demandmedia.dk/Images/DK/fanebladelejeboliger.gif" border="0"
                             usemap="#menumap" alt="lejebolig"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" width="177" rowspan="2"><br>
            <center>Torsdag&nbsp;24. marts&nbsp;2016<br>
                <br>
                <a href="/" style="border:0"><img style="border:0"
                                                  src="http://bbstatic4.demandmedia.dk/Images/DK/butt_forsiden.gif"
                                                  alt="Til forsiden" class="greenmenubutton"></a><br><br>

                <a href="/tilmeld-dig-som-boligsoeger" style="border:0"><img style="border:0"
                                                                             src="http://bbstatic5.demandmedia.dk/Images/DK/sogbolig.gif"
                                                                             alt="Tilmeld dig som boligsøger"></a><br>

                <a href="/tilmeld-din-bolig" style="border:0"><img style="border:0"
                                                                   src="http://bbstatic4.demandmedia.dk/Images/DK/udlejbolig.gif"
                                                                   alt="Tilmeld din bolig"></a><br><br>
                <a href="/modtag-gratis-nyhedsbrev-med-boligannoncer" style="border:0"><img style="border:0"
                                                                                            src="http://bbstatic5.demandmedia.dk/Images/DK/butt_nyhedsbrev.gif"
                                                                                            alt="Nyhedsbrev"
                                                                                            class="greenmenubutton"></a><br>
                <a href="/fakta-om-boligbasen" style="border:0"><img style="border:0"
                                                                     src="http://bbstatic4.demandmedia.dk/Images/DK/butt_omboligbasen.gif"
                                                                     alt="Info om boligbasen"
                                                                     class="greenmenubutton"></a><br>
                <a href="/english/" style="border:0"><img style="border:0"
                                                          src="http://bbstatic5.demandmedia.dk/Images/DK/UKbutton.gif"
                                                          alt="Boligbasen in english" class="greenmenubutton"></a><br>
                <br>
                <br>

                <div class="testimonial-wg"><span>"</span>Min søn har fået noget at bo i, tak for det. Boligbasen er en
                    af de bedste boligsøgningsbaser, jeg har meldt mig til.<span>"</span><br><br>
                    <i>Anne Mai Skjødt Pedersen</i>
                    <br><br>
                    <a href="/hvad-brugerne-siger-om-boligbasen" class="underline">vis alle (373)</a><br>
                </div>
                <br/>


                <br>
                <br>
                Sikker betaing via:<br><br>
                <img src="/images/dibs.gif"/>
            </center>
        </td>
        <td valign="top" style="margin:0; border:0; height:25px;">
            <table border="0" cellspacing="0" style="border-collapse: collapse" width="594" cellpadding="3">
                <tr>
                    <td>
                        <br>
                        <img border="0" src="http://bbstatic1.demandmedia.dk/Images/DK/header_detaljer.gif" width="588"
                             height="25" alt="Detaljer"></td>
                </tr>
            </table>
        </td>
        <td rowspan="2" valign="top" width="180">

            <form method="POST" action="login.asp">
                <table border="0" cellspacing="0" style="border-collapse: collapse;margin-top:9px;">
                    <tr>
                        <td width="2px"></td>
                        <td valign="top"><img border="0" src="http://bbstatic1.demandmedia.dk/Images/DK/head_login.gif"
                                              alt="Tilmelding"></td>
                    </tr>
                    <tr>
                        <td width="2px"></td>
                        <td>
                            <input type="hidden" name="redir" value="1049051">
                            <label>Din email:<br>
                                <input type="text" name="email" style="width:160px;" id="email"></label><br>
                            <br>
                            <label>Dit kodeord:<br>
                                <input type="password" name="kodeord" style="width:160px;" id="kodeord"></label><br><br>

                            <input type="image" src="http://bbstatic1.demandmedia.dk/Images/DK/BUY_logpaa.gif"
                                   value="Login" name="B1" id="B1"><br/>
                            <div style="text-align:right"><a href="glemtkode.asp" style="font-weight:bold;">Glemt
                                kode?</a>&nbsp;&nbsp;</div>
                        </td>
                    </tr>
                </table>
            </form>


            <div style="margin:0 0 0 7px;">
                <img src="http://bbstatic3.demandmedia.dk/Images/DK/head_kundeservice.gif" border="0"
                     style="padding:0;margin:0;width:160px;height:27px;" alt="Kundeservice"><br>
                <img src="http://bbstatic1.demandmedia.dk/Images/DK/support-billede.gif" border="0"
                     style="padding:0;margin:0;position:relative;left:-2px;width:168px;height:110px;" alt="support">
                <br>
                <address style="font-style:normal;display:inline;padding:0;margin:0;border:0">
                    <font size="3">Tlf.: 70 27 00 13</font><br>
                </address>

                (Man-Tor kl. 12-14)<br>
                <br>
                <address style="font-style:normal;display:inline;padding:0;margin:0;border:0">
                    Email:
                    <a class="underline" href="mailto:info@boligbasen.dk">info@boligbasen.dk</a><br>
                    <br>

                    Postadresse:<br>
                    Boligbasen Aps<br>

                    Jyllandsgade 20<br>
                    9000 Aalborg C<br>
                    SE: 28313756<br>
                </address>
                <br>
            </div>
            <br>
            <div style="margin:0 6px 0 7px;">
                <img src="http://bbstatic1.demandmedia.dk/Images/DK/head_bolignyheder.gif" alt="Bolignyheder Overskrift"
                     border="0" style="padding:0;margin:0"><br>
                23.&nbsp;marts&nbsp;2016:<br>
                <b>Prisfest for boligejere i...</b><br>
                2015 blev et &#229;r med bred fremgang i boligpriserne. Specielt lejlighede...<br>
                <a href="/nyhed/Prisfest-for-boligejere-i-hovedstaden-i-2015.2012049.html"><img alt="Læs nyhed"
                                                                                                src="http://bbstatic3.demandmedia.dk/Images/DK/BUT_laeshelenyheden.gif"
                                                                                                border="0"
                                                                                                style="position:relative;left:-5px;"
                                                                                                class="greenmenubutton"></a><br><br>
                21.&nbsp;marts&nbsp;2016:<br>
                <b>Interessen daler: F&#230;rre d...</b><br>
                Svenske feriehuse er dalet en smule i popularitet. Prisfald i Danmark ...<br>
                <a href="/nyhed/Interessen-daler:-Faerre-danskere-ejer-svensk-feriehus.2012048.html"><img
                        alt="Læs nyhed" src="http://bbstatic3.demandmedia.dk/Images/DK/BUT_laeshelenyheden.gif"
                        border="0" style="position:relative;left:-5px;" class="greenmenubutton"></a><br><br>

                <a href="/nyheder-fra-boligmarkedet"><img alt="Flere nyheder"
                                                          src="http://bbstatic1.demandmedia.dk/Images/DK/BUT_flerenyheder.gif"
                                                          border="0" style="position:relative;left:-5px;"
                                                          class="greenmenubutton"></a>
            </div>
            <br>
            <div style="margin:0 0 0 7px;"><img border="0"
                                                src="http://bbstatic3.demandmedia.dk/Images/DK/kort_dankort.gif"
                                                alt="Dankort" class="cardimage">&nbsp;<img border="0"
                                                                                           src="http://bbstatic1.demandmedia.dk/Images/DK/kort_visa.gif"
                                                                                           alt="Visa" class="cardimage">&nbsp;<img
                    border="0" src="http://bbstatic3.demandmedia.dk/Images/DK/kort_visaelectron.gif" alt="Visa elektron"
                    class="cardimage">&nbsp;<img border="0" src="http://bbstatic1.demandmedia.dk/Images/DK/kort_mc.gif"
                                                 alt="Mastercard" class="cardimage"></div>

        </td>
    </tr>
    <tr>
        <td width="587" valign="top" height="900">

            <table border="0" cellpadding="0" cellspacing="0" width="570" style="border-right: 1px solid #96B192;position:relative;left:17px">
                <tr>
                    <td width="21" valign="top" height="100%"><img
                            src="http://bbstatic1.demandmedia.dk/Images/DK/annoncensDetaljerValgt.gif" border="0"
                            alt="Detaljer">
                        <a href="/lejebolig/billeder/2v-lejlighed-paa-38kvm,Frederiksberg,4400kr.L-1049051.html"><img
                                src="http://bbstatic1.demandmedia.dk/Images/DK/billeder.gif" border="0" alt="Billeder"></a>
                        <a href="/lejebolig/kontakt/2v-lejlighed-paa-38kvm,Frederiksberg,4400kr.L-1049051.html"><img
                                src="http://bbstatic1.demandmedia.dk/Images/DK/kontakt.gif" border="0"
                                alt="Kontakt"></a>
                        <div style="border-right: 1px solid #96B192;margin:0;padding:0;height:100%">&nbsp;</div>
                    </td>
                    <td bgColor="#eef9ec" valign="top" width="100%" style="border-top: 1px solid #96B192; border-bottom: 1px solid #96B192;">

                        <table border="0" width="100%" cellpadding="6" cellspacing="0" style="border-bottom: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF;">
                            <tr>
                                <td style="border-right: 1px solid #FFFFFF;" valign="top" width="70%"><h1
                                        style="font-size:13px;font-weight:bold;color:#21381e">2v. Lejlighed på 38 kvm,
                                    Frederiksberg</h1><br><span
                                        style="color:#764338;font-weight:bold">Nyhed!&nbsp;</span>(Stork&#248;benhavn) -
                                    Indrykket den 24. marts 2016
                                </td>
                                <td width="30%"><b><font color="#21381e" size="2">4.400 kr./md.</font></b><br>(inkl.
                                    forbrug)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border-top: 1px solid #FFFFFF;">
                                    <h3 style="font-size:10px;font-weight:bold">Kort beskrivelse:</h3><br>
                                    Lejlighed på 38 kvm beliggende 2000&nbsp;Frederiksberg. Lejen er 4.400 pr. md. inkl.
                                    forbrug. Depositum udg&oslash;r 12.000 kr. Det er tilladt at holde husdyr.<br><br>
                                    <button onclick="location.href='/lejebolig/kontakt/2v-lejlighed-paa-38kvm,Frederiksberg,4400kr.L-1049051.html'">
                                        Kontakt udlejer
                                    </button>


                                    <br><br>
                                    <h3 style="font-size:10px;font-weight:bold">Fakta om denne bolig:</h3>
                                    <table style="width: 100%" cellspacing="0" cellpadding="3" class="style1">
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/ikon-id.gif"
                                                     width="20" height="20" alt="Bolig id"></td>
                                            <td style="width: 133px" valign="top" class="style2">Bolig ID:<br>
                                                <br>
                                            </td>
                                            <td valign="top" class="style2">L-1049051</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/m2.gif" width="20"
                                                     height="20" alt="Boligstørrelse i kvm"></td>
                                            <td style="width: 133px" valign="top">Boligst&oslash;rrelse:<br>
                                                <br>
                                            </td>
                                            <td valign="top">38 kvm / 2 v&aelig;relser</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/kr.gif" width="20"
                                                     height="20" alt="Pris"></td>
                                            <td style="width: 133px" valign="top" class="style2">Leje pr.
                                                m&aring;ned:<br>
                                                <br>
                                            </td>
                                            <td valign="top" class="style2">4.400 kr. inkl. forbrug</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/kr.gif" width="20"
                                                     height="20" alt="Depositum"></td>
                                            <td style="width: 133px" valign="top">Depositum:<br>
                                                <br>
                                            </td>
                                            <td valign="top">12.000 kr.</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/ok.gif" width="20"
                                                     height="20" alt="ok"></td>
                                            <td style="width: 133px" valign="top" class="style2">
                                                Indflytning/Status:<br>
                                                <br>
                                            </td>
                                            <td valign="top" class="style2">Maj 2016 / Boligen er Ledig</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/ur.gif" width="20"
                                                     height="20" alt="Lejeperiode"></td>
                                            <td style="width: 133px" valign="top">Lejeperiode:<br>
                                                <br>
                                            </td>
                                            <td valign="top">1-2 år</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/bord.gif" width="20"
                                                     height="20" alt="Møbler"></td>
                                            <td style="width: 133px" valign="top" class="style2">M&oslash;bleret:<br>
                                                <br>
                                            </td>
                                            <td valign="top" class="style2">Nej</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/dor.gif" width="20"
                                                     height="20" alt="Egen indgang"></td>
                                            <td style="width: 133px" valign="top">Indgang:<br>
                                                <br>
                                            </td>
                                            <td valign="top">Der er egen indgang.</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/kok.gif" width="20"
                                                     height="20" alt="Køkken"></td>
                                            <td style="width: 133px" valign="top" class="style2">K&oslash;kken:<br>
                                                <br>
                                            </td>
                                            <td valign="top" class="style2">
                                                Der er eget k&oslash;kken.

                                                Indeholder køleskab, komfur.


                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/wc.gif" width="20"
                                                     height="20" alt="Badev&aelig;relse"></td>
                                            <td style="width: 133px" valign="top">Bad:<br>
                                                <br>
                                            </td>
                                            <td valign="top">
                                                Der er eget badev&aelig;relse.


                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/bag.gif" width="20"
                                                     height="20" alt="N&aelig;rmilj&oslash;"></td>
                                            <td style="width: 133px" valign="top" class="style2">Nærmiljø:<br>
                                                <br>
                                            </td>
                                            <td valign="top" class="style2">

                                                Der er indkøbsmuligheder indenfor 1 km.
                                                Nærmeste offentlige transport under 1 km væk.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20px" valign="top" class="style2">
                                                <img src="http://bbstatic1.demandmedia.dk/Images/DK/nr.gif" width="20"
                                                     height="20" alt="Andet"></td>
                                            <td style="width: 133px" valign="top">
                                                Diverse:
                                            </td>
                                            <td valign="top">
                                                Der er adgang til have/gård, cykelskur, Vaskeri. Det er tilladt at holde
                                                husdyr.
                                            </td>
                                        </tr>
                                    </table>

                                    <br>
                                    <h3 style="font-size:10px;font-weight:bold">Yderligere information fra udlejer:</h3>
                                    <br>
                                    Vi har en lille to v&#230;relses lejlighed, som vi skal fremleje i 18 mdr,
                                    sandsynligvis endnu l&#230;ngere tid. Der er et fint gammelt k&#248;kken, bad, gang
                                    samt to v&#230;relser. Fremlejen l&#248;ber fra Maj, og lejligheden vil v&#230;re um&#248;bleret
                                    og rengjort. Da den ikke er s&#229; stor vil den passe fint til fx et par eller evt
                                    en enlig. Rygning og husdyr m&#229; ikke forekomme.
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border-top: 1px solid #FFFFFF;">
                                    <h3 style="font-size:10px;font-weight:bold">Status:</h3><br>
                                    Denne bolig er ledig til indflytning pr. maj 2016. - Annoncen er
                                    indrykket den 24. marts 2016. Annoncen er gennemlæst og kontrolleret for fejl og
                                    mangler. Desuden verificeret på udlejeres navn, adresse, email og telefonnummer.<br><br>
                                    <button onclick="location.href='/lejebolig/kontakt/2v-lejlighed-paa-38kvm,Frederiksberg,4400kr.L-1049051.html'">
                                        Kontakt udlejer
                                    </button>
                                    &nbsp;

                                    <button onclick="location.href='/index.asp#bolig_1049051'">Gå tilbage til
                                        søgeresultatet
                                    </button>
                                    <br>

                                </td>
                            </tr>
                        </table>
                        <br>
                        <table width="520" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="12"></td>
                                <td><img src="http://bbstatic1.demandmedia.dk/Images/DK/infobox-top.gif" border="0"
                                         alt=""></td>
                            </tr>
                            <tr>
                                <td width="12"></td>
                                <td width="520"
                                    style="background-image:url(http://bbstatic1.demandmedia.dk/Images/DK/infoBaggr.gif)">

                                    <table width="520" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="10"></td>
                                            <td style="color: #456C40">
                                                Boligannoncen markeres som udlejet eller slettes i samme øjeblik, som
                                                annoncøren selv markerer den som værende ikke aktiv eller en medarbejder
                                                på boligbasen.dk på anden måde bliver opmærksom på at den ikke længere
                                                er aktuel.<br><br>

                                                Samtlige boligannoncer som du finder på boligbasen.dk har vi gennemlæst
                                                og kontrolleret for fejl før vi godkender dem, og de bliver synlige.<br><br>

                                                Oprettelsesproceduren for boligannoncerne følger anvisningerne for
                                                oprettelse af boligannoncer på internettet, som er udstukket af
                                                Forbrugerombudsmanden.
                                            </td>
                                            <td width="10"></td>
                                        </tr>
                                        <tr>
                                            <td height="10" colspan="3"></td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td width="12"></td>
                                <td><img src="http://bbstatic1.demandmedia.dk/Images/DK/infoBund.gif" border="0" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td><br></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <br><br><br>
            <a href="http://ligo.dk" style="color:#ffffff;text-decoration:none" target="_blank">en ven af huset</a>
        </td>
    </tr>

    <tr>
        <td colspan="3"><img alt="Grafik" border="0" src="http://bbstatic3.demandmedia.dk/Images/DK/bottom.gif"
                             style="width:950px;height:60px;"></td>
    </tr>
</table>
</body>
</html>
